@{
    ViewBag.Title = "Index";
}

<br />
<input type="button" id="listProduct" value="List Products" />
<br />
<div id="products"></div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#listProduct').click(function () {
            $.getJSON('../api/ProductApi/AllProducts').done(function (data) {
                var products = "";
                $.each(data, function (key, product) {
                    products += product.Name + "- Price: " + product.Price + "<br />";
                });
                $('#products').html(products);
            })
        });
    })
</script>